<link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
<!--
<main>
    <h2>A Simple Dark Mode Toggle Demo</h2>
    
    <p>Use the checkbox below to toggle between dark and light modes. This is a simple example using a moderately styled checkbox.</p>
  
    <input type="checkbox" id="darkToggle" class="darkToggle">
    <label for="darkToggle">
  
</main>
-->


<h1>This Website is to show that I am able to use JavaScript</h1>

<p>Use this Toggle to turn this page to darkmode</p>

<div class="switch">
    <input type="checkbox" id="darkToggle">
</div>

<script src="../../static/js/test.js"></script>