/*Set the general rules*/
* {
    font-family: Montserrat;
}
body {
    margin: 0;
}
.darkmode {
    color: white;
  background: #444;
}
.body {
    /*background-color:cadetblue;*/
    width: 60%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}


/*Introduction text on landing page*/
.welcome {
    text-align: center;
    margin-top: 10%;
}
.introduction {
    text-align: center;
    margin-bottom: 150px;
}

/*Form to enter Nutrition Values*/
.form {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}

.submitform {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
}
.button:hover {
    background-color: greenyellow;
}

.darkmodebutton {
    position: absolute;
    margin-top: 45%;
    margin-left: 85%;
    height: 10%;
    width: 10%;
}



.header {
    height: 200px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    background-color: lightgray;
    width: 100%;
}

.recipes {
    margin-top: 200px;
    padding-top: 50px;
}


.grid_values {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: [start] 1fr 1fr [end];
}
.grid_text {
    grid-row: start / end;
    align-self: stretch;
}
.grid_value_start {
    grid-column-start: 2;
}

.grid_values p {
    text-align: right;
    align-self: end;
}

.headerimg {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
.date {
    left: 0;
    text-align: right;
    color: gray;
}

