{%extends 'base.html'%}

{%block title%} Nutrition Helper {%endblock%}

{%block body%}
    
<div class="header">
    <div class="body">
        <a href="/" style="text-decoration: none; color: black;"><h1 class="home">Home</h1></a>
        <div class="grid_values">
            <h2 class="grid_text">Your entered values:</h2>
            <p>Calories</p>
            <p>Carbs</p>
            <p>Proteins</p>
            <p>Fat</p>
            <p class="grid_value_start">{{kcal}} kcal</p>
            <p>{{carbs}} g</p>
            <p>{{protein}} g</p>
            <p>{{fat}} g</p>
        </div>
    </div>
</div>


<div class="recipes body">

    {% for recipe in recipes %}
        <div class="grid_values">
            <a href="/recipe/{{recipe.id}}" style="text-decoration: none; color: black;"><h3>{{recipe.name}}</h3></a>
            <p class="grid_value_start">{{recipe.kcal}}kcal</p>
            <p>{{recipe.carbs}} g</p>
            <p>{{recipe.protein}} g</p>
            <p>{{recipe.fat}} g</p>
        </div>
    {%endfor%} 



{%endblock%}